@page
@using Microsoft.AspNetCore.Razor.Language.Extensions
@model LMS.Pages.Registrations.CreateModel

@{
    ViewData["Title"] = "Create";
}

@if (@Model.CurrentUser == null)
{
    <div class="text-center">
    <p>Please Log in to view registration. <br><a href="/Identity/Account/Login">Course List (Instructors)</a></p>
    </div>
}
else if (@Model.CurrentUser.UserType != "Student")
{
    <div class="text-center">
    <p>The Registration Page is used by students. <br><a href="/Courses">Course List (Instructors)</a></p>
    </div>
}
else
{
    
<h1>Register</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Instructor Email
            </th>
            <th>
                Department
            </th>
            <th>
                Course Number
            </th>
            <th>
                Title
            </th>
            <th>
                Credit Hours
            </th>
            <th>
                Capacity
            </th>
            <th>
                Location
            </th>
            <th>
                Meeting Days
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <p>@FormatMeetDays(item.MeetDays)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <form method="post">
                    <input type="hidden" asp-for="Registration.CourseID" value=@item.Id/>
                    <input type="hidden" asp-for="Registration.StudentID" value=@Model.CurrentUser.Id/>
                    @if (@Model.CheckRegistration(@Model.CurrentUser.Id, @item.Id))
                    {
                        <input type="submit" value="Drop Course" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Add Course" class="btn btn-primary" />
                    }
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

}

@functions {
    string FormatMeetDays(bool[] days)
    {
        if (days == null || days.Length < 5)
            return "";

        string[] labels = { "Mon", "Tue", "Wed", "Thu", "Fri" };
        var result = new List<string>();

        for (int i = 0; i < 5; i++)
        {
            if (days[i])
                result.Add(labels[i]);
        }

        return string.Join("/", result);
    }
}