@page
@using LMS.Models
@model LMS.Pages.Courses.DeleteModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Delete";
}

@if (SignInManager.IsSignedIn(User)){

<h1>Delete</h1>

<h3>Are you sure you want to delete this course?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Instructor Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.InstructorEmail)
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.DeptName)
        </dd>
        <dt class="col-sm-2">
            Course Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseNum)
        </dd>
        <dt class="col-sm-2">
            Course Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseTitle)
        </dd>
        <dt class="col-sm-2">
            Credit Hours
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CreditHours)
        </dd>
        <dt class="col-sm-2">
            Capacity
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Capacity)
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Location)
        </dd>
        <dt class="col-sm-2">
            Meeting Days
        </dt>
        <dd class="col-sm-10">
            @{
                var days = new List<string>();
                if (Model.Course.MeetDays != null)
                {
                    if (Model.Course.MeetDays[0]) days.Add("Mon");
                    if (Model.Course.MeetDays[1]) days.Add("Tue");
                    if (Model.Course.MeetDays[2]) days.Add("Wed");
                    if (Model.Course.MeetDays[3]) days.Add("Thu");
                    if (Model.Course.MeetDays[4]) days.Add("Fri");
                }
            }
            @string.Join(", ", days)
        </dd>
        <dt class="col-sm-2">
            Start Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartTime)
        </dd>
        <dt class="col-sm-2">
            End Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.EndTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Course.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
}
else{
    <div class="text-center">
        <p>Please <a href="/Identity/Account/Login">sign in</a> to delete courses.</p>
    </div>
}
